<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>学生卡消费账单</title>
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/index.css"> -->
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?08b883e3446528a75cad424b8472ea5a";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>

<body>

    <div id="index"></div>
    <script src="https://occc3ev3l.qnssl.com/consumeNew.js"></script>    
    <!-- <script src="/dist/index.bb164d21b7d3c3bea526.js"></script>
         -->

</body>

</html>