// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$next-name: 'next';
$next-x: 0px;
$next-y: 0px;
$next-offset-x: 0px;
$next-offset-y: 0px;
$next-width: 46px;
$next-height: 60px;
$next-total-width: 700px;
$next-total-height: 4727px;
$next-image: '../spritesmith-generated/sprite.png';
$next: (0px, 0px, 0px, 0px, 46px, 60px, 700px, 4727px, '../spritesmith-generated/sprite.png', 'next', );
$come-name: 'come';
$come-x: 0px;
$come-y: 60px;
$come-offset-x: 0px;
$come-offset-y: -60px;
$come-width: 700px;
$come-height: 80px;
$come-total-width: 700px;
$come-total-height: 4727px;
$come-image: '../spritesmith-generated/sprite.png';
$come: (0px, 60px, 0px, -60px, 700px, 80px, 700px, 4727px, '../spritesmith-generated/sprite.png', 'come', );
$enter-name: 'enter';
$enter-x: 0px;
$enter-y: 140px;
$enter-offset-x: 0px;
$enter-offset-y: -140px;
$enter-width: 700px;
$enter-height: 100px;
$enter-total-width: 700px;
$enter-total-height: 4727px;
$enter-image: '../spritesmith-generated/sprite.png';
$enter: (0px, 140px, 0px, -140px, 700px, 100px, 700px, 4727px, '../spritesmith-generated/sprite.png', 'enter', );
$sharebuton-name: 'sharebuton';
$sharebuton-x: 0px;
$sharebuton-y: 240px;
$sharebuton-offset-x: 0px;
$sharebuton-offset-y: -240px;
$sharebuton-width: 700px;
$sharebuton-height: 100px;
$sharebuton-total-width: 700px;
$sharebuton-total-height: 4727px;
$sharebuton-image: '../spritesmith-generated/sprite.png';
$sharebuton: (0px, 240px, 0px, -240px, 700px, 100px, 700px, 4727px, '../spritesmith-generated/sprite.png', 'sharebuton', );
$title-name: 'title';
$title-x: 0px;
$title-y: 340px;
$title-offset-x: 0px;
$title-offset-y: -340px;
$title-width: 700px;
$title-height: 130px;
$title-total-width: 700px;
$title-total-height: 4727px;
$title-image: '../spritesmith-generated/sprite.png';
$title: (0px, 340px, 0px, -340px, 700px, 130px, 700px, 4727px, '../spritesmith-generated/sprite.png', 'title', );
$chicken-name: 'chicken';
$chicken-x: 0px;
$chicken-y: 470px;
$chicken-offset-x: 0px;
$chicken-offset-y: -470px;
$chicken-width: 285px;
$chicken-height: 140px;
$chicken-total-width: 700px;
$chicken-total-height: 4727px;
$chicken-image: '../spritesmith-generated/sprite.png';
$chicken: (0px, 470px, 0px, -470px, 285px, 140px, 700px, 4727px, '../spritesmith-generated/sprite.png', 'chicken', );
$medal-name: 'medal';
$medal-x: 0px;
$medal-y: 610px;
$medal-offset-x: 0px;
$medal-offset-y: -610px;
$medal-width: 150px;
$medal-height: 200px;
$medal-total-width: 700px;
$medal-total-height: 4727px;
$medal-image: '../spritesmith-generated/sprite.png';
$medal: (0px, 610px, 0px, -610px, 150px, 200px, 700px, 4727px, '../spritesmith-generated/sprite.png', 'medal', );
$milk-name: 'milk';
$milk-x: 0px;
$milk-y: 810px;
$milk-offset-x: 0px;
$milk-offset-y: -810px;
$milk-width: 193px;
$milk-height: 220px;
$milk-total-width: 700px;
$milk-total-height: 4727px;
$milk-image: '../spritesmith-generated/sprite.png';
$milk: (0px, 810px, 0px, -810px, 193px, 220px, 700px, 4727px, '../spritesmith-generated/sprite.png', 'milk', );
$fries-name: 'fries';
$fries-x: 0px;
$fries-y: 1030px;
$fries-offset-x: 0px;
$fries-offset-y: -1030px;
$fries-width: 197px;
$fries-height: 220px;
$fries-total-width: 700px;
$fries-total-height: 4727px;
$fries-image: '../spritesmith-generated/sprite.png';
$fries: (0px, 1030px, 0px, -1030px, 197px, 220px, 700px, 4727px, '../spritesmith-generated/sprite.png', 'fries', );
$boy-name: 'boy';
$boy-x: 0px;
$boy-y: 1250px;
$boy-offset-x: 0px;
$boy-offset-y: -1250px;
$boy-width: 700px;
$boy-height: 250px;
$boy-total-width: 700px;
$boy-total-height: 4727px;
$boy-image: '../spritesmith-generated/sprite.png';
$boy: (0px, 1250px, 0px, -1250px, 700px, 250px, 700px, 4727px, '../spritesmith-generated/sprite.png', 'boy', );
$purse-name: 'purse';
$purse-x: 0px;
$purse-y: 1500px;
$purse-offset-x: 0px;
$purse-offset-y: -1500px;
$purse-width: 210px;
$purse-height: 250px;
$purse-total-width: 700px;
$purse-total-height: 4727px;
$purse-image: '../spritesmith-generated/sprite.png';
$purse: (0px, 1500px, 0px, -1500px, 210px, 250px, 700px, 4727px, '../spritesmith-generated/sprite.png', 'purse', );
$road-name: 'road';
$road-x: 0px;
$road-y: 1750px;
$road-offset-x: 0px;
$road-offset-y: -1750px;
$road-width: 700px;
$road-height: 260px;
$road-total-width: 700px;
$road-total-height: 4727px;
$road-image: '../spritesmith-generated/sprite.png';
$road: (0px, 1750px, 0px, -1750px, 700px, 260px, 700px, 4727px, '../spritesmith-generated/sprite.png', 'road', );
$background-name: 'background';
$background-x: 0px;
$background-y: 2010px;
$background-offset-x: 0px;
$background-offset-y: -2010px;
$background-width: 700px;
$background-height: 1300px;
$background-total-width: 700px;
$background-total-height: 4727px;
$background-image: '../spritesmith-generated/sprite.png';
$background: (0px, 2010px, 0px, -2010px, 700px, 1300px, 700px, 4727px, '../spritesmith-generated/sprite.png', 'background', );
$firstbg-name: 'firstbg';
$firstbg-x: 0px;
$firstbg-y: 3310px;
$firstbg-offset-x: 0px;
$firstbg-offset-y: -3310px;
$firstbg-width: 700px;
$firstbg-height: 1417px;
$firstbg-total-width: 700px;
$firstbg-total-height: 4727px;
$firstbg-image: '../spritesmith-generated/sprite.png';
$firstbg: (0px, 3310px, 0px, -3310px, 700px, 1417px, 700px, 4727px, '../spritesmith-generated/sprite.png', 'firstbg', );
$spritesheet-width: 700px;
$spritesheet-height: 4727px;
$spritesheet-image: '../spritesmith-generated/sprite.png';
$spritesheet-sprites: ($next, $come, $enter, $sharebuton, $title, $chicken, $medal, $milk, $fries, $boy, $purse, $road, $background, $firstbg, );
$spritesheet: (700px, 4727px, '../spritesmith-generated/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
